.sky-blue{
 color: #A0F0F0;
}

.torqis-blue{
    color: #82CECE;
}

.light-blue{
    color: #5F8FC0;
}

.blue{
    color: #416AD9;
}

.dark-blue{
color: #260E66;
}

.green{
    color: #92C475;
}

.dark-green{
    color: #77A95A;
}

.light-grey{
    color: #F3F3F3;
}

.light-grey2{
    color: #E9E9E9;
}


.light-grey3{
    color: #D7D7D7;
}

.grey{
    color: #A5A5A5;
}

.black{
    color: #202020;
}

