
@font-face {
    font-family:ProximaNova;
    src:url(https://cdn2.hubspot.net/hubfs/5719668/ProximaNova-Bold.woff2) format(woff2),
    url(https://cdn2.hubspot.net/hubfs/5719668/ProximaNova-Bold.woff) format(woff);
    font-weight:700;
    font-style:normal;
}