$sky-blue    : #A0F0F0;
$torqis-blue : #82CECE;
$light-blue  : #5F8FC0;
$blue        : #416AD9;
$dark-blue   : #260E66;
$green       : #92C475;
$dark-green  : #77A95A;
$light-grey  : #F3F3F3;
$light-grey2 : #E9E9E9;
$light-grey3 : #D7D7D7;
$grey        : #A5A5A5;
$srijan-black: #202020;
$white          : #fff;
$black          : #000;
