// Font faces, stacks and sizes.
$base-font-size:   16; // The font size set on the root html element.
$base-line-height: 1.75; // This line-height set on the root html element.

$h1-font-size: 56;
$h2-font-size: 40;
$h3-font-size: 32;
$h4-font-size: 30;
$h5-font-size: 24;
$h6-font-size: 18;
$h7-font-size: 20;
